* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: #e8fbff;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 860px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  position: relative;
  width: 650px;
  height: 360px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background: #ffffff;
  border-right: 3px dotted lightgray;
}

.left::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e8fbff;
  position: absolute;
  bottom: -15px;
  right: -16.5px;
}

.right {
  width: 180px;
  height: 360px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background: #ffffff;
}

.logofly {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffffff;
  margin-top: 10px;
}

.top {
  display: flex;
  justify-content: center;
  position: relative;
  width: 650px;
  height: 50px;
  background: #11c3ea;
  border-top-left-radius: 40px;
  border-right: 3px dotted lightgray;
}

.top::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e8fbff;
  position: absolute;
  top: -15px;
  right: -16.5px;
}

.top2 {
  width: 180px;
  height: 50px;
  background: #11c3ea;
  border-top-right-radius: 40px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

h1 {
  font-size: 24px;
  color: #ffffff;
}

.lw {
  width: 44px;
  height: 3px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: right;
}

.lw::before {
  content: "";
  width: 64px;
  height: 3px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  background: #ffffff;
  position: absolute;
  top: -7px;
}

.lw::after {
  content: "";
  width: 24px;
  height: 3px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  position: absolute;
  background: #ffffff;
  top: 7px;
}

.rw {
  width: 44px;
  height: 3px;
  background: #ffffff;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  position: relative;
}

.rw::before {
  content: "";
  width: 64px;
  height: 3px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  background: #ffffff;
  position: absolute;
  top: -7px;
}

.rw::after {
  content: "";
  width: 24px;
  height: 3px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  position: absolute;
  background: #ffffff;
  top: 7px;
}

.logo {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

p {
  font-size: 12px;
}

input {
  width: 125px;
  border: 1px solid #11c3ea;
  padding: 2px;
  font-size: 12px;
}

input::placeholder {
  color: #11c3ea;
  font-size: 12px;
}

.inp {
  margin: 30px 0;
  width: 600px;
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
}
.spd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button {
  border: none;
  margin-top: 10px;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  background: #11c3ea;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.5s linear;
}

button:hover {
  background: #369729;
}

.describ {
  height: 310px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h2 {
  font-size: 12px;
  width: 140px;
  font-weight: 400;
  text-align: center;
}

ul {
  width: 110px;
  list-style-type: none;
}

li {
  font-size: 12px;
}

.disc {
  list-style-type: disc;
}

.begin {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #11c3ea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(28, 104, 151, 0);
  border: 3px solid #11c3ea;
}

.circle-two {
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #11c3ea;
  border: 3px solid #11c3ea;
}

.round {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #11c3ea;
  align-items: center;
  justify-content: center;
}

.fa-check {
  font-size: 20px;
  color: white;
}

.fa-plane-up.static {
  font-size: 20px;
  right: 12px;
}

.fa-plane-up {
  font-size: 20px;
  position: absolute;
  right: -10px;
}

.fa-plane-up.start {
  font-size: 20px;
  right: 12px;
  animation: departure 4s linear;
}

@keyframes departure {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: translateX(22px);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes jet {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes travel {
  0% {
    background: rgb(17, 195, 234, 0);
  }
  25% {
    background: rgb(17, 195, 234, 0.25);
  }
  50% {
    background: rgb(17, 195, 234, 0.5);
  }
  75% {
    background: rgb(17, 195, 234, 0.75);
  }
  100% {
    background: rgb(17, 195, 234);
  }
}
